@property --progress-value {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

:root {
  --primary-color: #005ca9;
  /* Blue from the logo */
  --secondary-color: #fcb300;
  /* Orange from the logo */
  --background-color: #ffffff;
  /* White background */
  --text-color: #333333;
  /* Dark gray for better readability */
  --light-gray: #f0f0f0;
  /* Light gray for subtle backgrounds */
  --progress-bar-color: #cfd8dc;
  --progress-value-color: #2196f3;
  --progress-empty-color-h: 4.1;
  --progress-empty-color-s: 89.6;
  --progress-empty-color-l: 58.4;
  --progress-filled-color-h: 122.4;
  --progress-filled-color-s: 39.4;
  --progress-filled-color-l: 49.2;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-gray);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

header {
  background-color: white;
  color: var(--primary-color);
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
  padding-right: 40px;
  /* Adjust this value as needed to center the title */
}

.logo {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  max-height: 40px;
  /* Adjust as needed */
  width: auto;
}

nav {
  background-color: var(--primary-color);
  padding: 0;
  width: 100%;
  position: fixed;
  top: 60px;
  z-index: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
  margin-top: 130px;
  margin-bottom: 50px;
  /* Add margin to account for footer height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Change to flex-start */
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  padding-bottom: 60px;
  /* Add padding to ensure content doesn't get cut off */
}

h2,
h3,
h4 {
  color: var(--primary-color);
}

.scroll-container {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 60px;
  /* Add padding to ensure content doesn't get cut off */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 40px;
  /* Increased height */
}

nav ul li {
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  /* Maintained font size */
  font-weight: 500;
  padding: 0 30px;
  /* Increased horizontal padding */
  height: 80%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 25px;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav ul li a.active {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 700;
}

/* Style for the separator */
nav ul li.separator {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 15px;
  /* Increased padding */
  font-size: 20px;
  /* Made separator slightly larger */
  pointer-events: none;
}


section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #002f75e7;
  color: white;
  padding: 10px;
  text-align: center;

  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 3px solid var(--secondary-color);
}

.progress-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
}

.progress-item {
  width: 100%;
  max-width: 600px;
  background-color: var(--background-color);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 50px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

progress[value] {
  display: block;
  position: relative;
  appearance: none;
  width: 100%;
  height: 20px;
  border: 0;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  counter-reset: progress var(--progress-value);
  --progress-value-string: counter(progress) '%';
  --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
  --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
  --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
  --progress-value-color: hsl(calc((var(--progress-empty-color-h) + (var(--progress-filled-color-h) - var(--progress-empty-color-h)) * var(--progress-value-decimal)) * 1deg) calc((var(--progress-empty-color-s) + (var(--progress-filled-color-s) - var(--progress-empty-color-s)) * var(--progress-value-decimal)) * 1%) calc((var(--progress-empty-color-l) + (var(--progress-filled-color-l) - var(--progress-empty-color-l)) * var(--progress-value-decimal)) * 1%));
  animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both progress;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::after {
  display: flex;
  align-items: center;
  justify-content: center;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  left: var(--progress-value-percent);
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--progress-value-color);
  border-radius: 50%;
  content: attr(value);
  content: var(--progress-value-string, var(--value));
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.dropdown-container {
  display: flex;
  gap: 20px;
  /* Adjust gap as needed */
}

@keyframes progress {
  from {
    --progress-value: 0;
  }

  to {
    --progress-value: var(--value);
  }
}

.step-progress-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.step-progress-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--light-gray);
  transform: translateY(-50%);
  z-index: 1;
}

.step {
  width: 40px;
  height: 40px;
  background-color: #fff8be;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60%;
  position: relative;
  color: #fff;
  font-weight: bold;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.step-label {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 100px;
  text-align: center;
  transform: translateX(-50%);
  font-size: 12px;
  color: var(--text-color);
}

.step.active {
  background-color: var(--secondary-color);
  /* box-shadow: 0 0 5px var(--secondary-color); */
  transition: all 0.3s ease;
}

.step-progress-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: var(--progress-width, 0%);
  height: 4px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  transform: translateY(-50%);
  z-index: 1;
  transition: width 0.3s ease;
  /*background: linear-gradient(90deg, #6cd5ff, #fcb300);*/
}

.passcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.passcode-container input,
.passcode-container button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.goals-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
}

.goal-item {
  width: 100%;
  max-width: 600px;
  background-color: var(--background-color);
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.goal-item h4 {
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.goal-item ul {
  list-style-type: none;
  padding-left: 0;
}

.goal-item li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

.goal-item li::before {
  content: '•';
  color: var(--secondary-color);
  font-size: 1.5em;
  position: absolute;
  left: 0;
  top: -5px;
}

.progress-item ul {
  list-style-type: disc;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: -15px;
}


.progress-item ul li a {
  color: var(--primary-color);
  text-decoration: none;
}

.progress-item ul li a:hover {
  text-decoration: underline;
}

.view-goals-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: -20px;
}

.view-goals-btn:hover {
  background-color: #5f97c5;
}